In [151]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import r2_score
sbi=pd.read_csv('C:\\Users\\Awadhesh\\dataset1\\SBI_Life_insurance.csv')
sbi

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
5      31    0  25.740         0       0       2   3756.62160               0
6      46    0  33.440         1       0       2   8240.58960               1
7      37    0  27.740         3       0       1   7281.50560               0
8      37    1  29.830         2       0       0   6406.41070               0
9      60    0  25.840         0       0       1  28923.13692               0
10     25    1  26.220         0       0       0   2721.32080               1
11     62    0  26.290         0       1       2  27808.72510               1
12     23    1  34.400         0       0       3   1826.84300               1
13     56    0  39.820         0       0       2  11090.71780               1
14     27    1  42.130         0       1       2  39611.75770               1
15     19    1  24.600         1       0       3   1837.23700               0
16     52    0  30.780         1       0       0  10797.33620               1
17     23    1  23.845         0       0       0   2395.17155               0
18     56    1  40.300         0       0       3  10602.38500               1
19     30    1  35.300         0       1       3  36837.46700               1
20     60    0  36.005         0       0       0  13228.84695               1
21     30    0  32.400         1       0       3   4149.73600               1
22     18    1  34.100         0       0       2   1137.01100               1
23     34    0  31.920         1       1       0  37701.87680               1
24     37    1  28.025         2       0       1   6203.90175               0
25     59    0  27.720         3       0       2  14001.13380               1
26     63    0  23.085         0       0       0  14451.83515               0
27     55    0  32.775         2       0       1  12268.63225               0
28     23    1  17.385         1       0       1   2775.19215               1
29     31    1  36.300         2       1       3  38711.00000               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1308   25    0  30.200         0       1       3  33900.65300               1
1309   41    1  32.200         2       0       3   6875.96100               0
1310   42    1  26.315         1       0       1   6940.90985               0
1311   33    0  26.695         0       0       1   4571.41305               1
1312   34    1  42.900         1       0       3   4536.25900               1
1313   19    0  34.700         2       1       3  36397.57600               1
1314   30    0  23.655         3       1       1  18765.87545               0
1315   18    1  28.310         1       0       0  11272.33139               0
1316   19    0  20.600         0       0       3   1731.67700               0
1317   18    1  53.130         0       0       2   1163.46270               1
1318   35    1  39.710         4       0       0  19496.71917               0
1319   39    0  26.315         2       0       1   7201.70085               0
1320   31    1  31.065         3       0       1   5425.02335               0
1321   62    1  26.695         0       1       0  28101.33305               1
1322   62    1  38.830         0       0       2  12981.34570               1
1323   42    0  40.370         2       1       2  43896.37630               1
1324   31    1  25.935         1       0       1   4239.89265               0
1325   61    1  33.535         0       0       0  13143.33665               1
1326   42    0  32.870         0       0       0   7050.02130               1
1327   51    1  30.030         1       0       2   9377.90470               1
1328   23    0  24.225         2       0       0  22395.74424               0
1329   52    1  38.600         2       0       3  10325.20600               1
1330   57    0  25.740         2       0       2  12629.16560               1
1331   23    0  33.400         0       0       3  10795.93733               1
1332   52    0  44.700         3       0       3  11411.68500               0
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [30]:
sbi.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [ ]:
sbi.tail()

In [ ]:
sbi.shape

In [ ]:
sbi.describe()

In [ ]:
sbi.info

In [ ]:
sbi.isnull

In [ ]:
sns.heatmap(sbi.isnull())

In [ ]:
sns.pairplot(sbi)

In [163]:
x=sbi.iloc[:,0:6]
x

      age  sex     bmi  children  smoker  region
0      19    0  27.900         0       1       3
1      18    1  33.770         1       0       2
2      28    1  33.000         3       0       2
3      33    1  22.705         0       0       1
4      32    1  28.880         0       0       1
5      31    0  25.740         0       0       2
6      46    0  33.440         1       0       2
7      37    0  27.740         3       0       1
8      37    1  29.830         2       0       0
9      60    0  25.840         0       0       1
10     25    1  26.220         0       0       0
11     62    0  26.290         0       1       2
12     23    1  34.400         0       0       3
13     56    0  39.820         0       0       2
14     27    1  42.130         0       1       2
15     19    1  24.600         1       0       3
16     52    0  30.780         1       0       0
17     23    1  23.845         0       0       0
18     56    1  40.300         0       0       3
19     30    1  35.300         0       1       3
20     60    0  36.005         0       0       0
21     30    0  32.400         1       0       3
22     18    1  34.100         0       0       2
23     34    0  31.920         1       1       0
24     37    1  28.025         2       0       1
25     59    0  27.720         3       0       2
26     63    0  23.085         0       0       0
27     55    0  32.775         2       0       1
28     23    1  17.385         1       0       1
29     31    1  36.300         2       1       3
...   ...  ...     ...       ...     ...     ...
1308   25    0  30.200         0       1       3
1309   41    1  32.200         2       0       3
1310   42    1  26.315         1       0       1
1311   33    0  26.695         0       0       1
1312   34    1  42.900         1       0       3
1313   19    0  34.700         2       1       3
1314   30    0  23.655         3       1       1
1315   18    1  28.310         1       0       0
1316   19    0  20.600         0       0       3
1317   18    1  53.130         0       0       2
1318   35    1  39.710         4       0       0
1319   39    0  26.315         2       0       1
1320   31    1  31.065         3       0       1
1321   62    1  26.695         0       1       0
1322   62    1  38.830         0       0       2
1323   42    0  40.370         2       1       2
1324   31    1  25.935         1       0       1
1325   61    1  33.535         0       0       0
1326   42    0  32.870         0       0       0
1327   51    1  30.030         1       0       2
1328   23    0  24.225         2       0       0
1329   52    1  38.600         2       0       3
1330   57    0  25.740         2       0       2
1331   23    0  33.400         0       0       3
1332   52    0  44.700         3       0       3
1333   50    1  30.970         3       0       1
1334   18    0  31.920         0       0       0
1335   18    0  36.850         0       0       2
1336   21    0  25.800         0       0       3
1337   61    0  29.070         0       1       1

[1338 rows x 6 columns]

In [162]:
y=sbi.iloc[:,7]
y

0       1
1       1
2       0
3       0
4       1
5       0
6       1
7       0
8       0
9       0
10      1
11      1
12      1
13      1
14      1
15      0
16      1
17      0
18      1
19      1
20      1
21      1
22      1
23      1
24      0
25      1
26      0
27      0
28      1
29      1
       ..
1308    1
1309    0
1310    0
1311    1
1312    1
1313    1
1314    0
1315    0
1316    0
1317    1
1318    0
1319    0
1320    0
1321    1
1322    1
1323    1
1324    0
1325    1
1326    1
1327    1
1328    0
1329    1
1330    1
1331    1
1332    0
1333    0
1334    1
1335    1
1336    0
1337    1
Name: insuranceclaim, Length: 1338, dtype: int64

In [179]:
y.shape

(1338,)

In [189]:
train_x,test_x,train_y,test_y = train_test_split( x, y, test_size=0.33, random_state=42)

In [164]:
train_x.shape

(1043, 6)

In [178]:
test_x.shape

(442, 6)

In [177]:
train_y.shape

(896,)

In [176]:
test_y.shape

(442,)

In [180]:
lg=LogisticRegression()

In [181]:
lg.fit(test_x,test_y)

C:\Users\Awadhesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [182]:
pred=lg.predict(test_x)
pred

array([0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1], dtype=int64)

In [193]:
print("accuracy_score:",accuracy_score(pred,test_y))

accuracy_score: 0.8574660633484162

In [195]:
print("confusion _matrix",confusion_matrix(test_y,pred))

confusion _matrix [[141  40]
 [ 23 238]]

In [197]:
print(classification_report(test_y,pred))

              precision    recall  f1-score   support

           0       0.86      0.78      0.82       181
           1       0.86      0.91      0.88       261

    accuracy                           0.86       442
   macro avg       0.86      0.85      0.85       442
weighted avg       0.86      0.86      0.86       442